<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="home">
    <header>
        <section class="logo-barrabusqueda-compra">
            <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="" width="100%"></div>
            <div class="barra-busqueda">
                <form><input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar"
                        name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autofocus=""
                        autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="2">
                </form>
                <a href="" class="boton"><i class="fas fa-search"></i></a>
            </div>
            <div class="compra "><a href="" class="hand"><i class="fas fa-hand-holding-usd"></i></a>
                <p class="facilidades">Comprá en Cuotas y sin Tarjeta de Credito</p>
            </div>
        </section>
        <nav class="nav-left">
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="derecha">
                <li><a href="/creaTuCuenta">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/misCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="banner"><img src="/images/img-home-banner.jpg" alt="" width="100%"></div>
        <h2>Basado en tu última visita</h2>
        <section class="container">
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                <div class="caja">
                    <p class="camion"> <i class=" fas fa-truck "></i> </p>
                    <div class="precio-desc">
                        <h3 class="precio">$6770</h3>
                        <p class="descuento">40%OFF</p>
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
                <div class="caja">
                    <p class="camion"> <i class=" fas fa-truck "></i> </p>
                    <div class="precio-desc">
                        <h3 class="precio">$230.000</h3>
                        <p class="descuento">20%OFF</p>
                    </div>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                <div class="caja">
                    <p class="camion"> <i class=" fas fa-truck "></i> </p>
                    <div class="precio-desc">
                        <h3 class="precio">$70.500</h3>
                        <p class="descuento">10%OFF</p>
                    </div>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
                <div class="caja">
                    <p class="camion"> <i class=" fas fa-truck "></i> </p>
                    <div class="precio-desc">
                        <h3 class="precio">$23.200</h3>
                        <p class="descuento">5%OFF</p>
                    </div>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en puntos de <br>pago. ¡Y
                siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envio gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envíos gratis en miles de productos. Es <br> un
                beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer, porque <br>estás
                siempre protegid@.</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>